<!DOCTYPE html>
<html>
<head>
    <title>AlthCart - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="assets/css/uikit.min.css" />
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/uikit-icons.min.js"></script>
</head>
<body>
<div class="uk-margin-top uk-container uk-padding-remove">
    <div class="uk-child-width-1-3@m uk-grid-small" uk-grid>
        {{range .}}
        <div>
            <div class="uk-card uk-card-default uk-card-hover">
                <div class="uk-card-media-top">
                    <img src="assets/img/rachit-tank-2cFZ_FB08UM-unsplash.jpg" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{.Name}}</h3>
                    <p>{{.Desc}}</p>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>